services:
  kafka:
    #image: cheetah-infrastructure-utils-kafka:integrationtest
    build:
      context: ../
      dockerfile: ./Dockerfile
    hostname: kafka
    mem_limit: 1024m
    command:
      [
        "sh",
        "-c",
        "bin/kafka-storage.sh format --ignore-formatted --cluster-id iBzfyk2mT5qGMuO9Yu0WrQ --config /opt/kafka/custom-config/server.properties && bin/kafka-server-start.sh /opt/kafka/custom-config/server.properties",

      ]
    ports:
      - "9092:9092" # Requires OAuth2 authentication
      - "9093:9093" # Requires No authentication
    expose:
      - "9093"
    environment:
      LOG_DIR: "/tmp/logs"
      KAFKA_ROOT_LOGGER_LEVEL: debug
    volumes:
      - ./config/kafka/server.properties:/opt/kafka/custom-config/server.properties
    healthcheck:
      test: nc -z kafka 19092 || exit -1
      start_period: 15s
      interval: 5s
      timeout: 10s
      retries: 10

  kafka-testclient:
    image: quay.io/strimzi/kafka:0.47.0-kafka-4.0.0
    container_name: kafka-client
    volumes:
      - ./integrationtest.sh:/etc/config/integrationtest.sh
      - ./config/kafka/kafkasetup.config:/etc/config/kafkasetup.config
    command: "bash /etc/config/integrationtest.sh"
    restart: no
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      # The following settings are listed here only to satisfy the image's requirements.
      # We override the image's `command` anyways, hence this container will not start a broker.
      KAFKA_BROKER_ID: ignored
      KAFKA_ZOOKEEPER_CONNECT: ignored

      TIMEOUT: "${JOB_TIMEOUT:-60s}" # How long the task has to complete
      OAUTH_CLIENT_ID: default-access
      OAUTH_CLIENT_SECRET: default-access-secret # checkov:skip=CKV_SECRET_6:This is not a sensitive secret
      OAUTH_TOKEN_ENDPOINT_URI: http://keycloak:1852/realms/local-development/protocol/openid-connect/token
      OAUTH_SCOPE: kafka

      # How much data to generate
      COUNTER: 0
      COUNTER_STOP: 1

      TOPIC_NAME: "test-topic"
      KAFKA__URL: kafka:19092

networks:
  default:
    name: "cheetah-infrastructure"
    external: true